$colors: (
    iron:(
        100:hsl(192, 4%, 75%),
        200:hsl(192, 5%, 65%),
        300:hsl(192, 5%, 55%),
        400:hsl(192, 5%, 45%),
        500:hsl(192, 5%, 35%)
    ),
    light-steal-blue:(
        100:hsl(211, 38%, 73%),
        200:hsl(211, 38%, 63%),
        300:hsl(211, 38%, 53%),
        400:hsl(211, 38%, 43%),
        500:hsl(211, 38%, 33%)
    ),
    echo-blue:(
        100:hsl(247, 24%, 73%),
        200:hsl(247, 24%, 63%),
        300:hsl(247, 24%, 53%),
        400:hsl(247, 24%, 43%),
        500:hsl(247, 24%, 33%),
    ),
    gadilac-red:(
        100:hsl(344, 37%, 43%),
        200:hsl(344, 37%, 33%),
        300:hsl(344, 37%, 23%),
        400:hsl(344, 37%, 13%),
        500:hsl(344, 37%, 8%),
    ),
    hawkes-blue:(
        100:hsl(240, 35%, 80%),
        200:hsl(240, 35%, 70%),
        300:hsl(240, 35%, 60%),
        400:hsl(240, 35%, 50%),
        500:hsl(240, 35%, 40%),
    ),
    cancan-red:(
        100:hsl(332, 45%, 70%),
        200:hsl(332, 45%, 60%),
        300:hsl(332, 45%, 50%),
        400:hsl(332, 45%, 40%),
        500:hsl(332, 45%, 30%),
    )
)